<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
</head>
<body>

<h1>About Page</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus amet autem, beatae consequatur cum, dolorum ea eius id illo magnam molestiae, nemo optio quia quo reiciendis repudiandae sed sint sit!</p>
<h2>Portfolio</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi cumque doloribus eligendi, ipsa nemo neque nesciunt nulla obcaecati quis voluptatum? Atque eos, exercitationem iure libero minima praesentium provident quis sequi.</p>
</body>
</html>