<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Collection</title>
    {% load static %}
</head>
<body>
<h1>My Collectio</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci, aliquid aut dicta, doloremque et libero maxime nam nobis, possimus ratione recusandae repudiandae. Aperiam cum enim in recusandae sit veritatis!</p>
<img src="{% static 'assets/download (7).jpg' %}" alt="">

</body>
</html>