<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contacts</title>
</head>
<body>
<h1>Contact information</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aperiam blanditiis cum debitis doloremque ducimus excepturi explicabo fuga ipsam magni maiores nesciunt possimus praesentium, rerum sit suscipit veniam vitae voluptatibus.</p>
<img src="{% static 'assets/images (5).jpg' %}" alt="">


</body>
</html>